/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: inset 3px 130px 66px -84px rgba(0,0,105,1);
    -moz-box-shadow: inset 3px 130px 66px -84px rgba(0,0,105,1);
    box-shadow: inset 3px 130px 66px -84px rgba(0,0,105,1);
}

/* Circle styles */
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the size of the circle */
    height: 300px; /* Adjust the size of the circle */
    border-radius: 50%;
    background-color: rgb(0, 0, 0); /* Color */
    filter: blur(3px); /* Apply blur effect */
    -webkit-box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    -moz-box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    transition: top 1s ease;
}

/* Color picker container styles */
.bek {
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: 1; /* Ensure it's above other content */
}

/* Text element styles */
.middle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;
    height: 100%; /* Fill the height of the container */
}

.left-text, .right-text {
    font-size: 18px;
    color: white;
}

.left-text {
    position: absolute;
    left: 5%; /* Adjust left position for space */
    top: 50%; /* Position at the vertical center */
    transform: translateY(-50%);
    font-family: 'Courier New', Courier, monospace;
    width: 250px;
    height: 100px;
    background: rgb(0, 0, 0);
    transition: width 2s, height 4s;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Don't wrap text */
}

.circle2 {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 3%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    filter: blur(3px);
    -webkit-box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    -moz-box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    top: -100px; /* Start position above the viewport */
    transform: translateX(-50%);
    animation: slideDown2 1s forwards;
    animation: slideDown4 1s forwards; /* Animation applied to slide down */
}
@keyframes slideDown2 {
    from {
        top: -100px; /* Start position above the viewport */
    }
    to {
        top: 37%; /* Final position */
    }
}
@keyframes slideDown4 {
    from {
        top: -100px; /* Start position above the viewport */
    }
    to {
        top: 37%; /* Final position */
    }
}

/* Adjust final position for smaller screens */
@media screen and (max-width: 1068px) {
    .circle2 {
       right: -1%;
        animation: slideDown4Small 1s forwards; /* Apply animation for small screens */
    }

    /* Animation for sliding down on small screens */
    @keyframes slideDown4Small {
        from {
            top: -100px; /* Start position above the viewport */
           right: -1%;
        }
        to {
           right: -1%;
           top: 37%;
        }
    }
}
@media screen and (max-width: 768px) {
    .circle2 {
       right: -1%;
        animation: slideDown2Small 1s forwards; /* Apply animation for small screens */
    }

    /* Animation for sliding down on small screens */
    @keyframes slideDown2Small {
        from {
            top: -100px; /* Start position above the viewport */
           right: -1%;
        }
        to {
           right: -1%;
           
        }
    }
}
.circle3 {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    filter: blur(3px);
    -webkit-box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    -moz-box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    box-shadow: 0px 0px 66px 15px rgba(0,0,105,1);
    animation: slideDown3 1s forwards;
    animation: slideDown5 1s forwards;
}
@keyframes slideDown5 {
    from {
        top: -100px; /* Start position above the viewport */
    }
    to {
        top: 50%; /* Final position */
    }
}

/* Adjust final position for smaller screens */
@media screen and (max-width: 1068px) {
    .circle3 {
       left: 9%;
        animation: slideDown5Small 1s forwards; /* Apply animation for small screens */
    }

    /* Animation for sliding down on small screens */
    @keyframes slideDown5Small {
        from {
            top: -100px; /* Start position above the viewport */
           left: 9%;
        }
        to {
           left: 9%;
           top: 50%;
        }
    }
}
@keyframes slideDown3 {
    from {
        top: -100px; /* Start position above the viewport */
    }
    to {
        top: 50%; /* Final position */
    }
}

/* Adjust final position for smaller screens */
@media screen and (max-width: 768px) {
    .circle3 {
        top: 73%;
        animation: slideDown3Small 1s forwards; /* Apply animation for small screens */
    }

    /* Animation for sliding down on small screens */
    @keyframes slideDown3Small {
        from {
            top: -100px; /* Start position above the viewport */
            left: 1%;
        }
        to {
            top: 80%;
            font-size: 15px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            left: 8%;
        }
    }
}
#left-typing-text {
    font-size: 15px;
    position: absolute;
    left: 11%; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 768px) {
    #left-typing-text {
        top: 80%;
        font-size: 10px;
        left: 8%;
    }
}
#right-typing-text {
    font-size: 15px;
    position: absolute;
    right: 9%; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 768px) {
    #right-typing-text {
        top: 80%;
        font-size: 10px;
        right: 5%;
    }
}


.additional-text {
    display: none; /* Initially hide additional text */
}

.right-text:hover .additional-text {
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Don't wrap text */
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    margin-top: 20px; /* Add space between the typing text and other texts */
    display: block; /* Display additional text on hover */
}

#typing-text {
    font-size: 24px;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Don't wrap text */
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    margin-top: 20px; /* Add space between the typing text and other texts */
}
@media screen and (max-width: 768px) {
    #typing-text {
        top: 50%;
        font-size: 20px;
    }
}
@media screen and (max-width: 1068px )  {
    #typing-text {
        top: 50%;
        font-size: 150x;
    }
}

@media screen and (max-width: 768px) {
    .left-text, .right-text {
        top: 80%;
        font-size: 10px; /* Reduce font size for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .circle2 {
        top: 73%;
        font-size: 15px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 768px) {
    .circle3 {
        top: 80%;
        font-size: 15px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 768px) {
    .left-text {
        top: 80%;
        font-size: 15px;
        width: 100px;
    }
}
.linky{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Don't wrap text */
    color: azure;
    text-decoration: none;
}

/* Container styles */
.container {
    position: relative;
    height: 300px; /* Adjust as needed */
  }
  
  /* Circle styles */
  /* Circle styles */
.circle {
    position: absolute;
    top: -100px; /* Start position above the viewport */
    left: 50%;
    transform: translateX(-50%);
    animation: slideDown 1s forwards; /* Animation applied to slide down */
}

/* Animation for sliding down */
@keyframes slideDown {
    from {
        top: -100px; /* Start position above the viewport */
    }
    to {
        top: 32%; /* Final position */
    }
}

/* Adjust final position for smaller screens */
@media screen and (max-width: 768px) {
    .circle {
        top: 30%; /* Final position for smaller screens */
        animation: slideDownSmall 1s forwards; /* Apply animation for small screens */
    }

    /* Animation for sliding down on small screens */
    @keyframes slideDownSmall {
        from {
            top: -100px; /* Start position above the viewport */
        }
        to {
            top: 30%; /* Final position for smaller screens */
        }
    }
}
  /* Animation for sliding down */
.tline{
    position: absolute;
    top: 20px; /* Adjust distance from top */
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
}
.Bik{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10%;
    color: rgb(166, 166, 166);
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    text-decoration: none;
}
.restart{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10%;
    color: rgb(166, 166, 166);
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    text-decoration: none;
}
.inst{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10%;
    color: rgb(166, 166, 166);
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .inst, .Bik, .restart {
      margin: 0 5%;  
      
       
    }
}
/* Style the container */
.container {
    position: absolute;
    top: 20px; /* Adjust distance from top */
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
}

/* Style the hello links */
.hello a {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px; /* Adjust space between links */
    text-decoration: none;
    color: black; /* Set link color */
}

/* Style the hover effect */
.hello a:hover {
    text-decoration: underline;
}
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
  
  
  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #000000,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #0808a2,
      -0.2rem 0.1rem 1rem #0808a2, 0.2rem 0.1rem 1rem #0808a2,
      0 -0.5rem 2rem #0b41cb, 0 0.5rem 3rem #0b41cb;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  @media screen and (max-width: 768px) {
    .sign {
      font-size: 5em;  
      
    }
    }
  @keyframes blink {
    0%,
    22%,
    33%,
    45%,
    55%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #7465ff,
        -0.2rem 0.1rem 1rem #0b41cb, 0.2rem 0.1rem 1rem #0b41cb,
        0 -0.5rem 2rem #0b41cb, 0 0.5rem 3rem #0b41cb;
    }
    28%,
    33% {
      color: #0b41cb;
      text-shadow: none;
    }
    82%,
    97% {
      color: #0b41cb;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #000000;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #7465ff,
      -0.2rem 0.1rem 1rem #0b41cb, 0.2rem 0.1rem 1rem #0b41cb,
      0 -0.5rem 2rem #0b41cb, 0 0.5rem 3rem #0b41cb;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  /* Initially hide the sign */

